<!-- toc.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item routerLink="/content">The Story</ion-item>
    <!--ion-item routerLink="/chapter1">Chapter 1: The Beginning</ion-item-->
    <!--ion-item routerLink="/chapter2">Chapter 2: The Middle</ion-item-->
    <!--ion-item routerLink="/chapter3">Chapter 3: The End</ion-item-->
    <!-- Add more chapters as needed -->
  </ion-list>
</ion-content>
